/* work-explorer */
h1.kiosk {
	padding-top: 0.2em;
}
span.intro {
	font-size: 60%;
	font-style: normal;
	font-weight: 400;
}
.performance {
	border: 1px solid rgba(128,128,128,0.2);
}
.part {
	border: 1px solid rgba(128,128,128,0.2);
}
.highlighted {
	/*box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);*/
	background-color: rgba(0,0,0,0.1);
}
.pointer {
	cursor: pointer;
}
a {
	cursor: pointer;
	user-select: none;
}
i {
	vertical-align: middle;
}
span.time {
	font-family: monospace;
	font-size: 150%;
}
span.performer {
	font-style: italic;
}
.countdown.inactive {
	/*background-color: rgba(0,0,0,0.1);*/
}
.countdown.active {
	background-color: rgba(0,1,0,0.5);
}
.time.highlight {
	background-color: rgba(0,1,0,0.2);
}
video {
	width: 100%;
	height: auto;
}
video.hidden {
	display: none;
}

.hidden {
	display:none;
}
.appframe {
	position: fixed;
	bottom: 3px;
	padding-top: 4px;
	padding-bottom: 1px;
	right: 3px;
	width: 318px;
	height: 558px;
	border: 3px solid black;
	border-radius: 5px;
	background: black;
	z-index: 10;
}
.appframeHeading {
	height: 26px;
	font-size: 16px;
	color: white;
	text-align: center;
	padding-bottom: 3px;
}
.appframeContent {
	width: 480px;
	height: 800px;
    -ms-transform: scale(0.65);
    -moz-transform: scale(0.65);
    -o-transform: scale(0.65);
    -webkit-transform: scale(0.65);
    transform: scale(0.65);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.containerShiftLeft {
	margin-left: 30px !important;
}
@media screen and (max-width: 1200px) {
	.hideIfNotWide {
		display:none;
	}
}
.blankAtBottom {
	height: 300px;
}
.playlistFeedback {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted grey;
  color: #005050;
}

.playlistFeedback .playlistFeedbackText {
  /*visibility: hidden;*/
  position: absolute;
  width: auto;
/*  background-color: #4f4;
  color: #fff;
  text-align: center;
  padding: 2px;
  border-radius: 5px; */
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
  top: 100%;
   margin-left: 10px;
  /*bottom: 20%*/;
  /*margin-left: -60px;*/
}

.playlistFeedback .playlistFeedbackTextVisible {
  /*visibility: visible;*/
  opacity: 1;
  transition: opacity .1s;
}

..playlistFeedback-top {
  bottom: 90%;
  /*margin-left: -60px;*/
}

.moreButton {
	border: solid 2px black;
	background: #eee;
	border-radius: 5px;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 50%;
	font-style: normal;
	font-weight: 400;
	vertical-align: middle;
}
.showDetailOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 11;
	opacity: 0.5;
	background: white;
}
.showDetailModal {
	position: fixed;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	z-index: 12;
	opacity: 1;
	background: white;
}
.showDetailInner {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	bottom: 0;
	border: 2px solid grey;
	border-radius: 10px;
	padding: 20px;
}
.showDetailCloser {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 10px;
	margin-top: 10px;
	z-index: 13;
}
.showDetailContent {
	position: absolute;
	top: 40px;
	left: 20px;
	right: 20px;
	bottom: 0;
	overflow: auto;
}