/* work-explorer */
.performance {
	border: 1px solid rgba(128,128,128,0.2);
}
.part {
	border: 1px solid rgba(128,128,128,0.2);
}
.highlighted {
	/*box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);*/
	background-color: rgba(0,0,0,0.1);
}
.pointer {
	cursor: pointer;
}
a {
	cursor: pointer;
	user-select: none;
}
i {
	vertical-align: middle;
}
span.time {
	font-family: monospace;
	font-size: 150%;
}
span.performer {
	font-style: italic;
}
.countdown.inactive {
	/*background-color: rgba(0,0,0,0.1);*/
}
.countdown.active {
	background-color: rgba(0,1,0,0.5);
}
.time.highlight {
	background-color: rgba(0,1,0,0.2);
}
video {
	width: 100%;
	height: auto;
}
video.hidden {
	display: none;
}

.hidden {
	display:none;
}
.appframe {
	position: fixed;
	bottom: 3px;
	right: 3px;
	width: 317px;
	height: 525px;
	border: 3px solid grey;
	border-radius: 3px;
	background: black;
	z-index: 10;
}
.appframeContent {
	width: 480px;
	height: 800px;
    -ms-transform: scale(0.65);
    -moz-transform: scale(0.65);
    -o-transform: scale(0.65);
    -webkit-transform: scale(0.65);
    transform: scale(0.65);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.containerShiftLeft {
	margin-left: 30px !important;
}
@media screen and (max-width: 1200px) {
	.hideIfNotWide {
		display:none;
	}
}
.blankAtBottom {
	height: 300px;
}